[Unit]
Description=Signage Controller
After=local-fs.target
Wants=local-fs.target

[Service]
Type=simple

User=pi
Group=pi

WorkingDirectory=/opt/signage/scripts

ExecStart=/usr/bin/python3 /opt/signage/scripts/signage.py

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
